<div class="content">

  <div class="di-container left drop-zone" target="left">
    <div class="io-control di-header">
      <h2>version A</h2>
      <input class="file" type="file" target="left">
    </div>

    <div class="canvas" id="canvas-left"></div>
  </div>

  <div class="di-container right drop-zone" target="right">
    <div class="io-control di-header">
      <h2>version B</h2>
      <input class="file" type="file" target="right">
    </div>

    <div class="canvas" id="canvas-right"></div>
  </div>

  <div id="changes-overview" class="collapsed">
    <div class="io-control show-hide-toggle">List of Changes</div>
    <div class="io-control changes"></div>
  </div>

</div>